.App-header {
  text-align: center;
  background: transparent;
}

@font-face {
  font-family: 'AnonimusProBold';
  src: url('https://fonts.googleapis.com') format('woff2'),
       url('https://fonts.gstatic.com') format('woff');
}

.Form-Title {
  color: #555555;
  font-size: 2em;
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: 'AnonimusProBold', sans-serif;
}

.Form {
  padding: 30px 20px;
  background-color: #ffffff;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  margin: auto;
  font-size: small;
  color: black;
  font-family: 'AnonimusProBold', sans-serif;
}

.Text-Area {
  width: 100%;
  height: 150px;
  resize: vertical;
  text-align: left;
  vertical-align: top;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 12px;
  box-sizing: border-box;
  font-family: 'AnonimusProBold', sans-serif;
}

.Input-Container {
  position: relative;
  margin-bottom: 1em;
}

.Input {
  position: relative; /* Añade esta línea para permitir posicionamiento relativo */
  width: calc(100% - 40px);
  padding: 1em 1em 1em 40px; /* Cambia el orden del padding para dejar espacio para el icono */
  margin: 0.5em 0;
  border: 1px solid #cccccc;
  border-radius: 12px;
  box-sizing: border-box;
  font-size: 1em;
  font-family: 'AnonimusProBold', sans-serif;
}

.Input-Icon {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: 10px; /* Cambia 'right' a 'left' */
  color: #aaa;
}

.Select{
  flex:1;
  width: 100%;
  height: 100%;
  padding: 1em;
  margin: 1em 0;
  border: 1px solid #cccccc;
  border-radius: 12px;
  box-sizing: border-box;
  font-size: 1em;
  font-family: 'AnonimusProBold', sans-serif;
}

.Label {
  font-weight: bold;
  margin-bottom: 1.5em;
  font-size: 1.2em;
  font-family: 'AnonimusProBold', sans-serif;
}

.Button {
  width: 100%;
  padding: 1em;
  margin: 1em 0;
  border: none;
  border-radius: 12px;
  background-color: #4CA1AF;
  color: white;
  font-size: 1em;
  font-family: 'AnonimusProBold', sans-serif;
  cursor: pointer;
  box-sizing: border-box;
}

.Footer {
  text-align: center;
  padding: 20px;
  font-family: 'AnonimusProBold', sans-serif;
  padding-top: 50px;
}


.Modal {
  position: fixed; /* Posicionamiento fijo respecto a la ventana del navegador */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex; /* Usamos flex para poder centrar el contenido fácilmente */
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparente para el efecto de oscurecimiento */
  backdrop-filter: blur(5px); /* Aplica desenfoque al contenido detrás del modal */
  border-radius: 12px;

}

.Modal-Content {
  background-color: white; /* Fondo blanco para el contenido */
  padding: 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto elevado */
  max-width: 500px; /* Ancho máximo para el contenido del modal */
  font-family: 'AnonimusProBold', sans-serif;
  width: 100%; /* Un ancho base pero con un máximo definido */
}

.Modal-Button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 1em;
  margin: 1em auto;
  border: none;
  border-radius: 12px;
  background-color: #4CA1AF;
  color: white;
  font-size: 1em;
  font-family: 'AnonimusProBold', sans-serif;
  cursor: pointer;
  box-sizing: border-box;

}